/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 10px 50px;
    box-sizing: border-box;
    /* j'ai changé le padding top et bot pour qu'il corresponde le plus possible à la maquette */
    padding-top: 0px;
    padding-bottom: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;

}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0px;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}



/* mes ajouts */
.section-title{
    font-weight: bold;
    font-size: x-large;
}

h2,
h3{
    margin: 0px;
    font-weight: bold;
}

p{
    margin: 0px;
}


body{
    margin: 0px;
}


/* #region display */

.display-main-container{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.display-section1{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.display-section2{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.display-section3{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.display-hebergements-and-populaires{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* #endregion display */

/* #region header */
header{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    padding-bottom: 20px;
    height: 80px;
}

.header-logo{
    width: auto;
    height: auto;
    justify-content: center;
    padding: 30px 50px 30px 0px;
    gap: 10px;
}

.header-links-container{
    display: flex;
    justify-content: center;
}

.header-link{
    padding: 20px;
    border-top: 5px solid transparent;
}

.header-link:hover{
    color: var(--main-color);
    border-top: 5px solid var(--main-color); 
}




/* #endregion header */

/* #region formulaire recherche */

form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recherche{
    flex-direction: row;
    height: 49px;
    width: 100%;
    max-width: 377px;
    border-radius: 15px;
    background-color: var(--main-bg-color);
    
}

.research-pinmap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 49px;
    width: 50px;
    border-radius: 15px 0px 0px 15px;
    background-color: var(--main-bg-color);
}


.research-textarea{
    display: flex;
    align-items: center;
    height: 90%;
    flex-grow: 1;
    width: 1%;
    border: none;
    box-sizing: border-box;
    font-size: 16px;

    /* pour laisser de la place à la pin map et au bouton recherche */
    width: 10%;
}

.research-textarea input{
    width: 100%;
    height: 100%;
    font-weight: bold;
    border: none;
    padding-left: 10px;
}


.research-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 49px;
    width: auto;
    padding: 0 16px;
    border-radius: 0px 15px 15px 0px;
    border: none;
    background-color: var(--main-color);
}

.research-button-logo{
    display: none;
}

.research-button-text{
    border: none;
    background: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

/* #endregion formulaire recherche */

/* #region filtres */
.filters{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    gap: 15px;
}

.filters-display{
    display: flex;
    justify-content: column;
    gap: 15px;
    

}

.filters-button1,
.filters-button2,
.filters-button3,
.filters-button4{
    width: auto;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    gap: 5px;
    font-weight: bold;
    padding: 4px 19px 4px 19px;
    
}

.filters-button1:hover,
.filters-button2:hover,
.filters-button3:hover,
.filters-button4:hover,
.info-logements-button:hover{
    background-color: var(--filter-bg-color);
}



/* #endregion filtres */

/* #region info logements */

.info-logements{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.info-logements-button{
    /* je mets une valeur plus grande que son max pour que mon bouton ait toujours la même forme  */
    width: 100px;
    height: 100px;
    max-width: 24px;
    max-height: 24px;
    border: 1px solid #d9d9d9;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #endregion info logements */

/* #region hebergement */
.hebergements-box-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: wrap;
    gap: 30px;
}

.hebergements-box{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;   
    box-shadow: 0px 3px 15px #d9d9d9;
    gap: 4px;
}

.hebergements-box-images{
    width: 96%;
    height: 124px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    border: solid white 5px;
}

.hebergements-box-info{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;   
    gap : 8px;
    padding-bottom: 10px;
}

.hebergements-box-info-titre{
    font-weight: bold;   
}
/* #endregion hebergement */

/* #region populaires */
.populaires-title-and-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* #endregion populaires */

/* #region activities */
.activities-section{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.activities-title{
    font-weight: bold;
    font-size: x-large;
}

.activities-grid{
    display: flex;
    flex-direction: row;
    gap: 30px;

}

.activities-box{
    width: 297.5px;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 15px #d9d9d9; 
}

.activities-box-image{
    height: 380px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;    
}

.activities-box-text{
    display: flex;
    padding: 20px 19px 20px 19px;
    align-items: center;
    font-weight: bold;
    font-size: large;
}
/* #endregion activities */

/* #region footer */
footer{
    background-color: var(--main-bg-color);
    margin-bottom: 0px;
    display: flex;
    flex-direction: space-between;
}

.footer-block{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

/* #endregion footer */

/* #region media queries smartphone */
@media (max-width: 375px){
    body,
    .main-container{
        padding: 0px;
        margin: 0px;
    }

    .display-section1{
        padding-left: 20px;
        padding-right: 20px;
        gap: 35px;
    }

    /* #region header */
    header{
        align-items: center;
        flex-direction: column;
        padding-bottom: 30px;
        height: 150px;
    }

    .header-logo{
        padding: 30px;
        width: auto;
        height: 20px;
    }

    .header-links-container{
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    .header-link-container a{
        display: block;
        width: 100%;
        height: 100%;
    }    
    
    .header-link{
        width: 50%;
        text-align: center;
        font-size: medium;
        padding-bottom: 10px;
        
    }

    .header-link.active {
        color: var(--main-color); /* Couleur bleue pour le lien "Hébergement" */
        border-bottom: 3px solid var(--main-color);
    }

    .header-link:not(.active) {
        color: black;
        border-bottom: 3px solid var(--main-bg-color); /* Couleur grise pour les autres liens non actifs */
    }

    /* #endregion header*/

    /* #region section infos */
    .research-button{
        border-radius: 15px;
        max-width: 49px;
        width: 100%;
        padding: 0;
        box-shadow: 0px 3px 15px #d9d9d9;
    }

    .research-button-text{
        display: none;
    }

    .research-button-logo{
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 25px;
        
    }
    /* #endregion section infos*/

    /* #region filters */
    .filters{
        display: flex;
        align-items: start;
        flex-direction: column;
        height: auto;
    }

    .filters-display{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    /* #endregion filters */

    /* #region hebergements and populaire */
    .hebergements-and-populaires{
        flex-direction: column-reverse;
        gap: 15px;
        
    }   

    section.populaires,
    section.hebergements{
        margin: 0px;
        padding: 10px;
        border-radius: 0%;
    }

    .populaires-cards{
        flex-direction: column;
    }

    .populaires-cards a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .card{
        width: auto;
        height: auto;
    }

    section.hebergements{
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div.hebergements-box-grid{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
 

    /* #endregion hebergements and populaire */

    /* #region activities */
    .activities-box{
        width: 100%;
    }

    div.activities-grid{
        flex-direction: column;
        gap: 30px;
    }

    .activities-box-image{
        height: 141px;
    }

    /* #endregion activities*/

    footer{
        flex-direction: column;
    }
}  
/* #endregion media queries */

/* #region media queries tablet */
@media(max-width: 1024px) {
    .populaires-cards{
        padding: 0px;
        gap: 0px;
    }

    .activities-box-image{
        height: 200px;
    }

    .activities-box-text{
        font-size: medium;
        height: 30px;
    }
}

/* #endregion media queries tablet */